<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <a class="copyright-link" href="#">
          Social Hub
          <i class="material-icons copyright-icon">insert_emoticon</i>
        </a>
      </b>
    </div>
  </div>
</div>